{% extends "djangorental/layout.html" %}

{% block body %}
    <h2>Account</h2>

    <div class = "content-section">
        <h2>
            Username : {{ user.username }}
        </h2>
        <h2>
            Email : {{ user.email }}
        </h2>
        <h2>
            Address : {{ currentuseraddress }}
        </h2>
        <h2>
            Phone Number: {{ currentusernumber }} 
        </h2>
    </br>
    </div>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'account' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" value="{{ user.username }}">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="address" value="{{ currentuseraddress }}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="number" value="{{ currentusernumber }}">
        </div>
        <input class="btn btn-primary" type="submit" value="Update Details">
    </form>

{% endblock %}