{% extends "djangorental/layout.html" %}

{% block body %}
    <h2>Item Categories</h2>
    <form action ="{% url 'displayCategory' %}" method="POST" class="my-3">
        {% csrf_token %}
        <label for="category">Choose a Category:</label>
        <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
        <button type ="submit" class = "btn btn-warning">Select</button>
    </form>
    <div class="row mx-3">
        {% for product in products %}
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image_file }}" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <ul>
                        {% for sentence in product.get_description_sentences %}
                            <li>{{ sentence }}</li>
                        {% endfor %}
                        </ul>
                    <strong>
                    <p class="card-text">RM{{ product.price }}/Month</p>
                    </strong>
                </br>
                    <a href="{% url 'product' id=product.id %}" class="btn btn-primary">Check Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}